<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{namePage}}</title>
</head>
<body class="min-h-screen bg-gray-900 font-rubik">
    <div class="flex justify-between items-center max-w-[1200px] mx-auto my-0">
        <h1 class="text-white m-0 font-bold text-8xl">
            <a href="/" class="text-white no-underline m-0">{{namePage}}</a>
        </h1>

        {{#if bar}}
            <div class="flex justify-end flex-1 pt-1">
                <form action="#" class="flex-1 relative md:flex-[0_0_40%]">
                    <input type="text" class="bg-slate-700 w-full border-none py-2 px-4 h-12 rounded-2xl text-white text-xl outline-none">
                    <input type="submit" class="block h-5 w-5 absolute right-[12px] top-[12px] indent-[-9999px] bg-loupe bg-transparent bg-cover border-none bg-center bg-no-repeat z-10 hover:cursor-pointer" value="Buscar">
                </form>
            </div>
        {{/if}}
    </div>

    <header class="max-w-[1200px] mx-auto min-h-[380px] flex flex-col justify-center items-start mb-12 border-b-2 border-solid border-b-slate-800">
        <h2 class="text-white m-0 font-semibold text-5xl">{{namePage}}</h2>
        {{#if tagline}}
            <p class="text-xl text-white mt-3 mb-8">{{tagline}}</p>
        {{/if}}
        {{#if button}}
            <a href="/vacancies/new" class="text-2xl py-3 px-16 rounded-lg text-white font-bold uppercase no-underline block border-none transition bg-sky-500 hover:bg-sky-600">Publicar Nueva Vacante</a>
        {{/if}}
    </header>

    <div class="max-w-[1200px] my-0 mx-auto">
        {{{body}}}
    </div>
</body>
</html>